Repository blumilksoftware/internships, pull requests merged in 2021-07, with the labels that each got.

#39 #28 - landing page
  frontend/App.vue
  frontend/assets/logo.png
  frontend/assets/tailwind.css
  frontend/components/HelloWorld.vue
  frontend/main.js
  frontend/router/index.js
  frontend/views/Home.vue
  frontend/views/Landing.vue
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
  tailwind.config.js
Labels: content, frontend

#38 #35 - docker node fix
  .dockerignore
  package.json
Labels: bug, environment

#52 #42 - added npm instruction to deployment
  .github/workflows/deploy.yml
Labels: bug, environment

#54 #53 - changed public path
  vue.config.js
Labels: environment, frontend

#49 #48 - nginx config
  environment/nginx.conf
Labels: backend, environment

#62 #55 - mobile img fix
  frontend/views/Landing.vue
Labels: frontend

#61 #40 - custom exception implementation
  backend/Exceptions/File/CsvInvalidCountFileException.php
  backend/Exceptions/File/FileException.php
  backend/Exceptions/File/NoNameFileException.php
  backend/Exceptions/Path/AlreadyExistsPathException.php
  backend/Exceptions/Path/CouldNotReadPathException.php
  backend/Exceptions/Path/IsNotDirectoryPathException.php
  backend/Exceptions/Path/NotFoundPathException.php
  backend/Exceptions/Path/NotUniquePathException.php
  backend/Exceptions/Path/PathException.php
  backend/Exceptions/SimpleMessageException.php
  backend/Exceptions/Validation/InvalidCountValidationException.php
  backend/Exceptions/Validation/IsMissingAfterValidationException.php
  backend/Exceptions/Validation/IsMissingValidationException.php
  backend/Exceptions/Validation/NotAnArrayValidationException.php
  backend/Exceptions/Validation/ValidationException.php
  backend/FileSystem/FileManager.php
  backend/Models/Address.php
  backend/Models/Company.php
  backend/Models/Coordinates.php
  backend/Models/Faculty.php
  backend/Models/FilterData.php
  backend/Models/ValidationOptions.php
  backend/Services/CsvReader.php
  backend/Services/DataValidator.php
  backend/Services/UniquePathGuard.php
Labels: backend

#65 #35 - removed git hook
  package.json
Labels: bug, environment

#72 #1 - removed label types from title action
  .github/workflows/title.yml
Labels: bug, environment

#68 #27 - add social media to company data
  backend/FileSystem/FileManager.php
  backend/Models/Company.php
  backend/Models/Socials.php
  backend/Services/CompanyDataFactory.php
  resources/faculties/wydzial-techniczny/companies.csv
  resources/templates/faculty-directory/companies.csv
Labels: content

#66 #36 - unique filtering content collector
  backend/Application/AppGenerator.php
  backend/Collectors/CityCollector.php
  backend/Collectors/CountryCollector.php
  backend/Collectors/FilterMainCollector.php
  backend/Collectors/MainCollector.php
  backend/Collectors/SpecializationCollector.php
  backend/Collectors/TagCollector.php
  backend/Collectors/UniqueCollector.php
  backend/Exceptions/SimpleMessageException.php
  backend/Factories/CompanyDataFactory.php
  backend/Factories/DataFactory.php
  backend/Factories/FacultyDataFactory.php
  backend/FileSystem/FileManager.php
  backend/Interfaces/BuildTool.php
  backend/Models/Address.php
  backend/Models/CollectedContent.php
  backend/Models/Company.php
  backend/Models/FilterData.php
  backend/Services/UniquePathGuard.php
Labels: backend

#71 #70 - config for document downloads
  backend/Application/AppGenerator.php
  backend/Factories/DataFactory.php
  backend/Factories/DocumentConfigFactory.php
  backend/Models/DocumentConfig.php
  resources/faculties/wydzial-techniczny/documents/documents.csv
  resources/templates/faculty-directory/documents/documents.csv
Labels: backend, content

#79 #69 - implement company cache to filters
  backend/Collectors/UniqueCollector.php
  backend/Factories/CompanyDataFactory.php
  backend/Factories/DataFactory.php
  backend/Factories/FacultyDataFactory.php
  backend/Interfaces/BuildTool.php
  backend/Models/CollectedContent.php
  resources/faculties/wydzial-techniczny/companies.csv
Labels: backend, feature

#84 #83 - limit number of filtering tags
  backend/Exceptions/Validation/InvalidRangeValidationException.php
  backend/Exceptions/Validation/IsMissingAfterValidationException.php
  backend/Exceptions/Validation/IsMissingValidationException.php
  backend/Exceptions/Validation/NotAnArrayValidationException.php
  backend/Exceptions/Validation/ValidationException.php
  backend/Factories/CompanyDataFactory.php
  backend/Models/ValidationOptions.php
  backend/Services/DataSanitizer.php
  backend/Services/DataValidator.php
  resources/faculties/wydzial-techniczny/companies.csv
Labels: backend

#73 #26 - main page
  .eslintrc.js
  frontend/App.vue
  frontend/assets/icons/dollarIcon.svg
  frontend/assets/icons/locationIcon.svg
  frontend/assets/images/blumilklogo.png
  frontend/assets/images/cooperate.jpg
  frontend/assets/images/defaultcompanyicon.svg
  frontend/assets/images/downloadasfile.svg
  frontend/assets/images/filterson.svg
  frontend/assets/images/info.jpg
  frontend/assets/images/landing_left.jpg
  frontend/assets/images/landing_right.jpg
  frontend/assets/images/notpaidicon.svg
  frontend/assets/images/paidicon.svg
  frontend/assets/styles/_variables.scss
  frontend/assets/tailwind.css
  frontend/components/Buttons.vue
  frontend/components/CityFieldSelector.vue
  frontend/components/Cooperate.vue
  frontend/components/CourseFieldSelector.vue
  frontend/components/DataField.vue
  frontend/components/Files.vue
  frontend/components/FilterContent.vue
  frontend/components/Informations.vue
  frontend/components/ListContainer.vue
  frontend/components/Map.vue
  frontend/components/Maplist.vue
  frontend/components/Nav.vue
  frontend/components/PaidSelector.vue
  frontend/components/Regulation.vue
  frontend/components/searchBar.vue
  frontend/functions/functions.js
  frontend/main.js
  frontend/router/index.js
  frontend/views/About.vue
  frontend/views/Home.vue
  frontend/views/Landing.vue
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/old_favicon.ico
  resources/faculties/wydzial-humanistyczny/companies.csv
  resources/faculties/wydzial-humanistyczny/documents/.gitkeep
  resources/faculties/wydzial-zdrowie-kultura/companies.csv
  resources/faculties/wydzial-zdrowie-kultura/documents/.gitkeep
  resources/templates/testTags.json
  tailwind.config.js
  vue.config.js
Labels: feature, frontend

#75 #51 - coordinate fetching for missing entries
  .env.example
  backend/Application/AppGenerator.php
  backend/Application/Application.php
  backend/Collectors/MainCollector.php
  backend/Exceptions/Validation/ValidationException.php
  backend/Factories/DataFactory.php
  backend/Factories/DocumentConfigFactory.php
  backend/Factories/FacultyDataFactory.php
  backend/Factories/FetchAddressDataFactory.php
  backend/FileSystem/FileManager.php
  backend/Models/FetchAddress.php
  backend/Services/CoordinateFetcher.php
  backend/Services/CsvReader.php
  backend/index.php
  composer.json
  composer.lock
  resources/faculties/wydzial-techniczny/companies.csv
Labels: backend, feature
