Repository blumilksoftware/internships, pull requests merged in 2021-08, with the labels that each got.

#95 #91 - Reusable FieldSelector component
  frontend/components/BaseFieldSelector.vue
  frontend/components/CityFieldSelector.vue
  frontend/components/CourseFieldSelector.vue
  frontend/components/FilterContent.vue
Labels: feature, frontend

#88 #78 - match filter tags with specialization
  backend/Application/AppGenerator.php
  backend/Collectors/UniqueCollector.php
  backend/Factories/CompanyDataFactory.php
  backend/Factories/DataFactory.php
  backend/Models/CollectedContent.php
  backend/Services/DataValidator.php
Labels: backend, feature

#97 #92 - small fixes to main page
  frontend/components/FilterContent.vue
Labels: frontend

#93 #87 - BaseButton component
  frontend/components/BaseButton.vue
  frontend/components/Buttons.vue
  frontend/functions/functions.js
  vue.config.js
Labels: frontend

#96 #94 - Update env.example file and landing page design
  .env.example
  frontend/assets/styles/main.css
  frontend/components/ListContainer.vue
  frontend/components/Map.vue
  frontend/components/joinUsSection.vue
  frontend/components/selectFacultySection.vue
  frontend/components/storiesSection.vue
  frontend/main.js
  frontend/views/Home.vue
  frontend/views/Landing.vue
Labels: feature, frontend

#102 #99 - added lint.yml file
  .github/workflows/lint.yml
  frontend/components/FilterContent.vue
  package-lock.json
  package.json
Labels: environment

#98 #56 - meta, title and alt tags added
  frontend/components/Cooperate.vue
  frontend/components/Informations.vue
  frontend/components/JoinUsSection.vue
  frontend/components/Nav.vue
  frontend/components/SelectFacultySection.vue
  frontend/components/StoriesSection.vue
  public/index.html
Labels: frontend

#108 #107 - composer throws errors on populate script
  .github/workflows/deploy.yml
  .gitignore
  backend/Application/AppContainerDefinitions.php
  backend/Factories/DataFactory.php
  composer.json
  public/.gitkeep
  public/favicon.ico
  public/index.html
  public/old_favicon.ico
Labels: backend, bug

#110 #109 - assets from public brought back
  frontend/assets/icons/favicon.ico
  frontend/templates/index.html
Labels: bug, frontend

#111 #103 - map deploy fix
  .env.example
  .github/workflows/deploy.yml
  frontend/components/Map.vue
  frontend/templates/index.html
  readme.md
  vue.config.js
Labels: environment, frontend

#113 #112 - added style loading from github secrets
  .github/workflows/deploy.yml
Labels: bug, environment

#115 #77 - implemented copying of documents to api
  .gitignore
  backend/Application/AppGenerator.php
  backend/Collectors/FilterMainCollector.php
  backend/Collectors/MainCollector.php
  backend/Exceptions/File/FileException.php
  backend/Factories/CompanyDataFactory.php
  backend/Factories/DataFactory.php
  backend/Factories/DocumentConfigFactory.php
  backend/Factories/FacultyDataFactory.php
  backend/Factories/FetchAddressDataFactory.php
  backend/FileSystem/DirectoryManager.php
  backend/FileSystem/FileManager.php
  backend/FileSystem/FullPathIdentity.php
  backend/FileSystem/Path.php
  backend/FileSystem/PathIdentity.php
  backend/FileSystem/PathResolver.php
  backend/FileSystem/RelativePathIdentity.php
  backend/Interfaces/SerializableInfo.php
  backend/Services/CsvReader.php
  composer.json
  ecs.php
  testing/Backend/DirectoryManagerTest.php
Labels: feature, backend

#114 #10 - test the integrity of the resources
  backend/Application/AppGenerator.php
  backend/Exceptions/File/NoFieldRowCsvException.php
  backend/Factories/CompanyDataFactory.php
  backend/Factories/DataFactory.php
  backend/Factories/DocumentConfigFactory.php
  backend/FileSystem/FileManager.php
  backend/Interfaces/BuildTool.php
  backend/Models/Company.php
  backend/Models/DocumentConfig.php
  backend/Services/CsvReader.php
  composer.json
  composer.lock
  resources/templates/faculty-directory/documents/documents.csv
  testing/Backend/CompanyFactoryTest.php
  testing/Backend/CsvReaderTest.php
  testing/Backend/DataFactoryTestCase.php
  testing/Backend/FacultyFactoryTest.php
  testing/Backend/FetchAddressFactoryTest.php
  testing/Fixtures/resources/companies.csv
  testing/Fixtures/resources/empty.csv
  testing/Fixtures/resources/faculties/faculties.csv
  testing/Fixtures/resources/initial.csv
  testing/Fixtures/resources/save.csv
  testing/Fixtures/resources/sourceFile.csv
  testing/Integrity/CompaniesResourceTest.php
  testing/Integrity/CsvFactoryTestCase.php
  testing/Integrity/DocumentResourceTest.php
  testing/Integrity/FacultyResourcesTest.php
  testing/Integrity/GenericResourceTestCase.php
Labels: testing

#123 #122 - navbar funcionality fixed
  frontend/components/Nav.vue
Labels: frontend

#125 #124 - scroll reset on page change
  frontend/views/Home.vue
  frontend/views/Landing.vue
Labels: bug, frontend

#126 #101 - json data implementation
  frontend/App.vue
  frontend/components/BaseFieldSelector.vue
  frontend/components/Buttons.vue
  frontend/components/DataField.vue
  frontend/components/Files.vue
  frontend/components/FilterContent.vue
  frontend/components/ListContainer.vue
  frontend/components/SelectFacultySection.vue
  frontend/functions/functions.js
  frontend/main.js
  frontend/store/companies/actions.js
  frontend/store/companies/getters.js
  frontend/store/companies/index.js
  frontend/store/companies/mutation-types.js
  frontend/store/companies/mutations.js
  frontend/store/companies/state.js
  frontend/store/index.js
  package-lock.json
  package.json
  resources/templates/testTags.json
  vue.config.js
Labels: content, frontend

#130 #127 - text scrolling on hover in company names
  frontend/components/DataField.vue
Labels: bug, frontend

#135 #134 - backend build added to deploy
  .github/workflows/deploy.yml
Labels: environment

#136 #134 - backend deploy fix
  .github/workflows/deploy.yml
Labels: bug
